@* https://learn.microsoft.com/en-us/aspnet/core/blazor/components/data-binding?view=aspnetcore-6.0#bound-field-or-property-expression-tree *@
@page "/parent-3"

<PageTitle>Parent 3</PageTitle>

<h1>Parent Example 3</h1>

<p>Parent <code>year</code>: @year</p>

<ChildParameterExpression @bind-Year="year" />

<Child4 YearExpression="x => GetYear() + x" YearsToAdd="5" />

@code {
    private int year = 1979;

    private int GetYear()
    {
        return DateTime.Now.Year;
    }
}