@layout TelerikLayout
@inherits LayoutComponentBase
@inject InMemoryLog mem

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <hr />
        <div class="content px-4">
            <ul>
                @foreach(var item in mem.Log)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        // init here
        mem.OnChange += StateHasChanged;
    }
}